<div class="pie-wrapper progress-60">
    <span class="label">60<span class="smaller">%</span></span>
    <div class="pie">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
    </div>
</div>