html, body {
  height: 100%;
}
p::selection, span::selection {
  background: none;
}
p::-moz-selection, span::-moz-selection {
  background: none;
}
.row {
  margin:0px;
  padding: 0px;
}
ul {
  padding: 0px;
  list-style: none;
}
li {
  height: 45px;
}
i.fa {
  font-size: 15px;
}
a:hover {
  text-decoration: none;
}
/******************** google-map options **********************/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
/******************** google-map options  **********************/

/***************** header-sidebar **********************/
header {
  position: fixed;
  left: 0;
  background: #181818;
  display: table;
  height: 100%;
}
header.default {
  width: 60px;
  height: 100%;
}
header.ipad-mobile-nav {
  height: 60px;
  width: 100%;
  top: 0;
}
.wrapper {
  padding: 0 0px 0 70px;
  min-height: 100%;
  position: relative;
  z-index: 9;
}
.ipad-mobile-wrapper {
  padding: 70px 10px 10px 10px;
}
/***************** header-sidebar *****************/
/************** necessary helper classes ********************/
.font-size-xsmall {
  font-size: 11px;
}
.font-size-small {
  font-size: 13px;
}
.font-tag {
  font-size: 18px;
}
.text-center {
  text-align: center;
}
.color-sky-blue {
  color: #10E5C5;
}
.color-pink-red {
  color: #db0646;
}
.color-white-gray {
  color: #cccccc;
}
.color-gray {
  color: #515152;
}
.font-la-belle {
  font-family: 'La Belle Aurore', cursive;
}
.sidebar-active {
  color: #10E5C5 !important;
}
/************** necessary helper classes ***************/
/**************** Sidebar Navigation rows *****************/
.main-navigation .first-row, .main-navigation .second-row {
  padding: 15px 0px 20px 0px;
}
.main-navigation .first-row {
  background: #070707;
}
.third-row-wrap {
  position: relative;
  height: 410px;
}
.main-navigation .third-row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.a-big-text {
  font-size: 40px;
  font-weight: bold;
}
.social-links-ul {
  width: 60px;
  text-align: center;
}
.social-links-ul li a, .page-links-ul li a {
  color: #10E5C5;
}
.social-links-ul li {
  height: 30px;
}
.social-links-ul i.fa, .page-links-ul i.fa {
  color: #4d4d4e;
}
.social-links-ul i.fa:hover, .page-links-ul i.fa:hover {
  color: #10E5C5;
}
.page-links-ul i.fa {
  font-size: 18px;
}
/****************Sidebar navigation rows*****************/
.main-content {
  color: #fff;
}
span.main-name-content {
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -1px;
}
p.designation-text {
  color: #8d8d8d;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 11px;
  line-height: 0px;
}
a.home-contact-btn {
  color: #08fdd8;
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #08fdd8;
  margin-top: 40px;
  border-radius: 4px;
  font-weight: normal;
  transition: background-color 0.7s ease;
}
a.home-contact-btn:hover {
  background: #08fdd8;
  color: #252627;
}
.bulb-icon, .bulb-right-content {
  float: left;
}
.bulb-icon i.fa {
  font-size: 40px;
}
.bulb-right-content span.bulb-right-text {
  color: #08fdd8;
  font-size: 11px;
  letter-spacing: 3px;
  line-height: 16px;
}
.welcome-left-bulb {
  position: relative;
}
/***********  canvas-background ************/
canvas {
  position: absolute !important;
  top: 0 !important;
  z-index: 1 !important;
}
#particles-js {
  background-color: transparent !important;
}
/***********  canvas-background ************/
/************ text-color animation ****************/
span.text-animate {
  color: #fff;
  transition: color 0.3s ease;
}
span.text-animate:hover {
  color: #10E5C5;
}

span.page-title-animate {
  color: #10E5C5;
  transition: color 0.3s ease;
}
span.page-title-animate:hover {
  color: #fff;
  transition: color 0.3s ease;
}
/*********** text-color animation ***************/
/*********** pages-body-text ***************/
.page-content-wrapper {
  margin-left: 25px; 
}
.page-body-text {
  font-size: 14px;
  line-height: 25px;
  color: #ccc;
  /*text-align: justify;*/
}
/*********** pages-body-text ***************/
#progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}
#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}
/****************** skill-bar ********************/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#ccc;
	/*background:#eee;*/
	height:30px;
	-webkit-transition:0.2s linear;
	-moz-transition:0.2s linear;
	-ms-transition:0.2s linear;
	-o-transition:0.2s linear;
	transition:0.2s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:110px;
	font-weight:bold;
	font-size:13px;
	/*color:#ffffff;*/
  color: #ccc;
	/*color:#2AC3AD;*/
	/*background:#6adcfa;*/
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:30px;
	line-height:30px;
}

.skillbar-bar {
	height:30px;
	width:0px;
	background:#6adcfa;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:30px;
  font-weight: bold;
	line-height:30px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
/*******************************/
ul.skill-bar-ul {
  margin-left: 25px;
  /*overflow: hidden;*/
}
ul.skill-bar-ul:before,
ul.skill-bar-ul:after {
  display: table;
  content: " ";
}
ul.skill-bar-ul:after {
  clear: both;
}
ul.skill-bar-ul li {
  width: 50%;
  float: left;
  padding: 0px 15px;
  height: inherit;
}
.default-content, .contact-left-content {
  padding: 30px !important;
}
/**************** contact page *****************/
.col-no-padding {
  padding:0px;
}
.contact-form-control {
  padding: 20px 10px !important;
  border-radius: 0px !important;
  background: #37393B;
  box-sizing: border-box; 
  border: none;
  border-bottom: 2px solid #37393B !important;
}
.contact-form-control:focus {
  box-shadow: inherit;
  border-top: none;
  border-bottom: 2px solid #08fdd8 !important;
  border-right: none;
  border-left: none;  
}
.contact_submit {
  background: none;
  color: #08fdd8;
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #08fdd8;
  /*margin-top: 10px;*/
  border-radius: 4px;
  font-weight: normal;
  transition: background-color 0.7s ease;
}
.contact_submit:hover {
    background: #08fdd8;
    color: #252627;
}
/***************** page loader *******************/
.overlay-bg {
  height: 100%;
  width: 100%;
  background: #111;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 60px;
}
.loader {
  height: auto;
  min-height: 200px;
  min-width: 350px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  margin-left: -200px;
  left: 50%;
  /*background: #fff;  */
  /*transform: translate(-50%, -50%, -50%, -50%);*/
}
.loader-text {
  color: #606060;
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}
.loader-bar {
  height: 1px; 
  /*width: 100%; */
  width: 0;
  background-color:#08fdd8;
}
/******************* page loader *********************/
